[paths]
working dir = /src
program source = /src/cpython3
entry file = /src/cpython3/Modules/_xxtestfuzz/fuzzer.c
compilation database = /src/cpython3/compile_commands.json
setflag codes = /fixreverter/FixReverter/drivers/inject/codes/setFixReverterFlags
pattern matcher = /fixreverter/llvm-project/build/bin/astPatternMatcher
ast grammer = /fixreverter/FixReverter/clangTools/astPatternMatcher/GrammarLib/test.grammar
mutant locator = /fixreverter/llvm-project/build/bin/mutantLocator
main function locator = /fixreverter/llvm-project/build/bin/mainFuncLocator
rewriter = /fixreverter/llvm-project/build/bin/rewriter
seeds = /out/seeds
[optional paths]
exe = /out/fuzzer
funcList = /src/fuzzer
[names]
program name = cpython3
[values]
cores = 20
run options = 
entry function = LLVMFuzzerTestOneInput
